{% extends 'base.html' %}
{% block head-title %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <h1 class="text-center"> Face Recognition </h1>
    <p style="text-align: justify;">A facial recognition system is a technology capable of matching a human face from a digital image or a video frame against a database of faces, typically employed to authenticate users through ID verification services, works by pinpointing and measuring facial features from a given image</p>
    <p style="text-align: justify;">Turning to the history of facial recognition technology, automated facial recognition was pioneered in the 1960s. Woody Bledsoe, Helen Chan Wolf, and Charles Bisson worked on using the computer to recognize human faces</p>
    <p style="text-align: justify;">So how does facial recognition work? Technologies vary, but here are the basic steps:</p>
    <p style="text-align: justify;"> Step 1. A picture of your face is captured from a photo or video.</p>
    <p style="text-align: justify;">Step 2. Facial recognition software reads the geometry of your face.</p>
    <p style="text-align: justify;">Step 3. Your facial signature — a mathematical formula — is compared to a database of known faces.</p>    
    <p style="text-align: justify;">Step 4. A determination is made. Your faceprint may match that of an image in a facial recognition system database.</p>
{% endblock content %}