{% extends 'base.html' %}
{% block head-title %}
    <title>Reference</title>
{% endblock %}
{% block content %}
    <h1 class="text-center"> References </h1>
    <a href="https://realpython.com/face-recognition-with-python/"> https://realpython.com/face-recognition-with-python/ </a>
    <hr>
    <a href="https://www.mygreatlearning.com/blog/face-recognition/"> https://www.mygreatlearning.com/blog/face-recognition/</a>
    <hr>
    <a href="https://pyimagesearch.com/2018/09/24/opencv-face-recognition/">https://pyimagesearch.com/2018/09/24/opencv-face-recognition/</a>
    <hr>
    <a href="https://docs.djangoproject.com/en/4.0/">Django Documentation</a>
    <hr>
    <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0242269">https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0242269</a>
    {% endblock content %}